<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <br />

  <p>
    Splurty was built by JJ. An aspiring web developer who has committed himself to learning about software engineering.
  </p>
  <br />

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">JJ</h2>
      <br/>
      <p>
        JJ is an aspiring web developer.  He completed a Javascript course at Galvanize, and several courses on Udemy.  He is currently enrolled with The Firehose Project and has built several arcade classics like Pong, and Snake.
      </p>
    </div>
  </div>
  
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  
  
  
  